
<body class="bg-gray-100 min-h-screen">
  <%- include('layouts/navbar') %>
  <center><%- include('layouts/flashmsg') %></center>
  <div class="flex items-center justify-center py-10">
    <div class="max-w-4xl w-full bg-white shadow-lg rounded-lg p-8">
      <div class="text-center mb-6">
        <h1 class="text-3xl font-bold text-gray-800">User Profile</h1>
      </div>
      <div>
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">User Details</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
          <div>
            <p class="text-gray-600 text-sm">ID</p>
            <p class="text-gray-800 font-medium"><%= user.userId %></p>
          </div>
          <div>
            <p class="text-gray-600 text-sm">Name</p>
            <p class="text-pink-500 font-bold text-lg"><%= user.email %></p>
          </div>
          <div>
            <p class="text-gray-600 text-sm">Role</p>
            <p class="text-gray-800 font-bold "><%= user.role || 'N/A' %></p>
          </div>
        </div>
      </div>

      <div class="mt-6 flex justify-center">
        <a
          href="/admin/user"
          class="bg-gray-200 text-gray-800 px-6 py-2 rounded-lg shadow hover:bg-gray-300 transition duration-200"
        >
          Back to Users
        </a>
      </div>

    </div>
  </div>

</body>
</html>
